.btn{
    cursor: pointer;
    border: none;
    outline-width: 0;
    border: 2px solid wheat;
    background: none;
}
.btn:hover{
    background: wheat;
}

.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: wheat;

}

.login__body{
    display: flex;
    background-color: #ededed;
    background-image: url("https://i.pinimg.com/originals/8f/ba/cb/8fbacbd464e996966eb9d4a6b7a9c21e.jpg");
    height: 95vh;
    width:90vw;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
    opacity: 0.8;
}
.login__body:hover{
    opacity: 1;
}

.login-box{
position: absolute;
top: 40%;
left: 40%;
transform: translate(-25%,-25%);


}

.login-box > input {
outline-width: 0;
border-radius: 4px;
border: none;
background: none;
outline: none;
padding: 5px;
margin: 20px;
overflow: hidden;
border-bottom: 3px solid wheat;


}

.login-box > h1 {
 border-bottom: 6px solid wheat;
 padding-bottom: 10px;



}
.login-box > p {
    font-size: 14px;
    padding-bottom: 10px;
}


